
body.dellemuse {margin:0; padding:0; color:#131414; font-family: Montserrat, Arial, sans serif; font-size:15px; }



.main {min-height: calc(100vh - 117px);}

.dellemuse .thumbnail {max-width: 100%; max-height: 100%; width: 100%; padding: 2px; border: 1px solid #fcfcfd;}


<!--   -->


.mode-title {padding:0;}

.dellemuse .list-group-item a.title-link    {text-decoration: none; color: inherit; }


.dellemuse .list-group-item .subtitle 		{color: inherit; font-size: 1em; font-weight: normal; padding: 0; margin-top: 0.2em;}


.dellemuse .mode-title-image .list-group-item a.title-link {font-size:1.15em; font-weight: bold;}
.dellemuse .mode-title .list-group-item a.title-link  	{text-decoration: none; color: inherit; font-size: 1em; font-weight: normal; padding: 0;}

.dellemuse .mode-title .list-group-item .subtitle 		{color: inherit; font-size: 1em; font-weight: normal; padding: 0; margin-top: 0.2em;}


.dellemuse .dropdown-menu {min-width: 20rem;}
.dellemuse .dropdown-menu .dropdown-item {float:left; width:100%; font-size: 0.9em;}
 
.dellemuse .form-control {font-size:15px;}
.dellemuse .form-control:disabled {background-color: transparent;}


.dellemuse .alert-info .iconClose {color:blue; font-size:14px; padding: 0 10px;}
.dellemuse .alert-danger .iconClose {color:#d01a1f; font-size:14px; padding: 0 10px;}


 
.dellemuse .navigator a { text-decoration:none;   padding: 0.1em 0.2em; }
.dellemuse .navigator a:hover {cursor:pointer;}

.dellemuse  .hastoolbar .list-group-item:first-child { border-top-left-radius:0; border-top-right-radius:0;}

.dellemuse .border-bottom-flat {border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-bottom: none; width: 100%;  margin-bottom: -1px;}


.dellemuse .title-link-highlight {}


.dellemuse .toolbar  {font-size: 0.95em; padding-bottom:0.2em; padding-top:0.2em;}
.dellemuse .toolbar .btn {font-size: inherit;}

.dellemuse .btn-link {
    color: var(--bs-link-color);
}

<!--

.dellemuse .navigator .first {}
.dellemuse .navigator .prev {}
.dellemuse .navigator .goto {}
.dellemuse .navigator .next 
.dellemuse .navigator .last {}


   -->


.banner {background:#cccccc; color:white; height:200px;}

.border {border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); border-radius: var(--bs-border-radius);}
.separator {border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;}
.dropdown-item a {color: var(--bs-navbar-active-color); text-decoration:none;}
.global-footer .menu-item a {padding:15px 30px; color: var(--bs-navbar-active-color); text-decoration:none;}

.dellemuse-color {color:#dd4508;}

.icon-expander {width:2em; float:left;}
.icon-collapsed {width:1em; float:left;}
.icon-expanded {width:1em; float:left;}

.breadcrumb-item.active a,
a.listItemLink {text-decoration: none; color: inherit;}

.dellemuse h1, 
.dellemuse .h1 {font-weight: bold;}

 
.dellemuse h2, 
.dellemuse .h2 {font-size: 2em;font-weight: bold;}
 
.dellemuse h3, 
.dellemuse .h3 {font-size: 1.3em;font-weight: bold;}
 

.dellemuse h4, 
.dellemuse .h4 {font-size: 1.15em;font-weight: bold;}

.dellemuse .text p:last-child { margin-bottom:0;}
 
.dellemuse .text-to-read {line-height: 1.7em; font-size:1.1em;}
 
.dellemuse .list-group-item p {margin:0em;}

 
 .dellemuse .breadcrumb .dropdown-menu.show {
  	width: 100%;
    text-align: center;
    font-size: 1em;
	}
 
 .dellemuse .breadcrumb  .dropdown-item { text-wrap: auto; }
 
 
 
.dellemuse .btn-lg, 
.dellemuse .btn-group-lg > .btn {
	font-size: 0.88rem;
	padding-left: 3em;
	padding-right: 3em;
	border-radius:8px;
}

 
.turismo-top {
    display: none;
    padding: 12px 15px 12px 15px;
    background: #818286;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
}
	
    
    


  
 
 