
body.dellemuse {margin:0; padding:0; font-family: Montserrat, Arial, sans serif; font-size:15px; }



 .dellemuse .branded  .list-group-item .subtitle  {color: var(--bs-body-color);}

.bg-black {background:#000000;}
 
 /**--
 
.branded a {color: #f8f9fa !important;}
.branded .breadcrumb-item + .breadcrumb-item::before { color:#cccccc; }
.branded  .text-secondary { color: #eeeeef !important;}
.branded .form-control {background: inherit; color: white;}
.branded .form-control::placeholder {background: inherit; color: #cccccc;}
.branded .border-bottom {border-color: #545454 !important;}
.branded .border-top {border-color: #545454 !important; }
.branded .list-group-item {color:inherit;}
 color:#131414;
 */ 
 
 /**-- */ 

@media screen and (max-height: 666px) {
  .height-sm-none {display:none !important;}	
}
 
@media screen and (max-width: 768px) {
 .mode-title-image .menuContainer { top:22px; right:22px;}
 .mode-title-image .menuContainer i {   font-size: 1em;}
 .mode-title-image .dellemuse .itemMenu .dropdown i {font-size: 1em !important; }
} 

@media screen and (min-width: 769px) {
.mode-title-image .menuContainer {top:15px;}
}


.mode-title-image .menuContainer i.titleIcon {display:none;}


.expanded .menuContainer  {top:15px;}
.menuContainer {width:auto; top:10px; right:15px; position:absolute; }



 
.global-toolbar .navbar-brand {font-size: inherit;}
.global-toolbar .navbar-brand .titleContainer {text-align:left;}

.global-toolbar .navbar-brand .title {font-weight:bold; text-transform:uppercase; color:#eeeeef; line-height:1.1em;}

.global-toolbar .user .title {display: inline-block; text-transform:lowercase; font-weight:500; margin-bottom:0; font-size:1em; line-height:1.1em;}
.global-toolbar .user .subtitle { line-height:1.1em; margin-top:0px;}

.global-toolbar .user .titleSubtitleContainer {text-align:right;}


.global-toolbar {font-size: 0.85rem;}

.global-toolbar .subtitle 		{   clear:left; font-size: 0.85em; color:#aaaaaa; float:left;};
.global-toolbar .logo .title 	{text-transform:uppercase; text-align:center; clear:left; font-size: 1em;  margin-bottom:0px; line-height:1em; float:left;}
 		
.pt-x1 {padding-top: 8px;} 
.pb-x1 {padding-bottom:8px;}



.centered 			{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;}
.x-centered  		{float:left; position: relative; left:50%; transform:translateX(-50%);}

.login .fw-bold {font-weight:400 !important;}

/**.main {min-height: calc(100vh - 117px);}*/

.dellemuse .thumbnail 				{max-width: 100%; max-height: 30em; width: auto; padding: 0px; border: none;}
.dellemuse .branded .thumbnail 		{max-height: 24em;width: auto; padding: 0px;}

.dellemuse .imageContainer {position: relative; float: left; width: 100%; background: #eeeeef; padding: 0.5em; min-height: 10em;}

.dellemuse  .navbar-brand img {max-height:30px; margin-right: 0.5em; float:left;}
.dellemuse  .navbar-brand  i {color: #eeeeef; margin-top:0; margin-right: 0.5em; height:1em; float:left;}
.dellemuse  .breadcrumb {margin-bottom:0;}


.notoggle .dropdown-toggle::after {display: none;}
 


.mode-title {padding:0;}

.dellemuse .list-group-item a.title-link    					{text-decoration: none; color: inherit; }
.dellemuse .mode-title .list-group-item .expanded   			{padding-bottom:0.75em; }
.dellemuse .mode-title .list-group-item .expanded a.title-link 	{font-weight:bold; font-size:1.15em;   }
.dellemuse .list-group-item .subtitle 							{
	     
    font-weight: normal;
   font-size:0.9em;
    margin-top: 0.15em;
    color: #666666;
    float: left;
    margin-bottom: 0.35em;
}

.dellemuse .mode-title-image .list-group-item a.title-link 		{font-size:1.175em; line-height:1.35em; font-weight: bold;}
.dellemuse .mode-title .list-group-item a.title-link  			{text-decoration: none; color: inherit; font-size: 1em; font-weight: normal; padding: 0;}
.dellemuse .mode-title .list-group-item .subtitle 				{color: inherit; font-size: 1em; font-weight: normal; padding: 0; margin-top: 0.2em;}

.dellemuse .dropdown-menu {min-width: 20rem;}
.dellemuse .dropdown-menu .dropdown-item {float:left; width:100%; font-size: 0.9em;}
 
.dellemuse .form-control {font-size:1em;}
.dellemuse .form-control:disabled {background-color: transparent; font-style:italic;}

.dellemuse .alert-info .iconClose {color:blue; font-size:14px; padding: 0 10px;}
.dellemuse .alert-danger .iconClose {color:#d01a1f; font-size:14px; padding: 0 10px;}
 
.dellemuse .navigator a { text-decoration:none;   padding: 0.1em 0.2em; }
.dellemuse .navigator a:hover {cursor:pointer;}

.dellemuse  .hastoolbar .list-group-item:first-child { border-top-left-radius:0; border-top-right-radius:0;}
.dellemuse .border-bottom-flat {border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-bottom: none; width: 100%;  margin-bottom: -1px;}
.dellemuse .list-group .list-group-item .btn-sm {font-size: 0.9em; padding: 0.08em 0.5em;}

.dellemuse .toolbar  		{font-size: 0.95em; padding-bottom:0.2em; padding-top:0.2em;}
.dellemuse .toolbar .btn	{font-size: inherit;}
.dellemuse .btn-link 		{color: var(--bs-link-color);}

.dellemuse .jumbo-img 							{position: relative; float: left;  width: 100%; padding: 0;  overflow:hidden;}
.dellemuse .jumbo-img i							{color:rgb(13, 110, 253); font-size: 12em;}



.dellemuse .jumbo-img img 						{width:auto; padding:0; border:none;} 
.dellemuse .imgReduced .jumbo-img img.thumbnail {max-height: 24em; width: auto; padding: 0px; border: none}

.dellemuse .jumbo-sm {max-height:15em;}
.dellemuse .jumbo-sm img { max-height:110%;} 

.dellemuse .jumbo-md {max-height:24em;}
.dellemuse .jumbo-md img {max-height:24em;} 

.dellemuse .jumbo-lg {max-height:40em;}
.dellemuse .jumbo-lg img {max-height:40em;}


<!--

 -->

.banner {background:#cccccc; color:white; height:200px;}
.border {border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); border-radius: var(--bs-border-radius);}
.separator {border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;}
.dropdown-item a {color: var(--bs-navbar-active-color); text-decoration:none;}
.global-footer .menu-item a {padding:15px 30px; color: var(--bs-navbar-active-color); text-decoration:none;}

.dellemuse-color {color:#dd4508;}

.icon-expander 	{width:2em; float:left; margin-right:0.75em;} 
.icon-collapsed {width:1em; float:left;}
.icon-expanded 	{width:1em; float:left;}

.breadcrumb-item.active a,
a.listItemLink {text-decoration: none; color: inherit;}




.dellemuse h1, 
.dellemuse .h1 { font-weight: bold; line-height:1.15em; margin-bottom: 0;}
 
.dellemuse h2, 
.dellemuse .h2 { font-weight: bold; margin-bottom: 0.75rem; }
 
.dellemuse h3, 
.dellemuse .h3 { font-weight: bold; margin-bottom: 0.6rem;}



.dellemuse h4, 
.dellemuse .h4 { font-weight: bold; margin-bottom: 0.3em;}

.dellemuse .text p:last-child { margin-bottom:0;}
.dellemuse .text-to-read {line-height: 1.7em; font-size:1.1em;}
.dellemuse .list-group-item p {margin:0em;}
 
.dellemuse .breadcrumb .dropdown-menu.show {
  	width: 100%;
    text-align: center;
    font-size: 1em;
}

.dellemuse .breadcrumb  .dropdown-item { text-wrap: auto; }

.dellemuse button.btn-link:hover 	{background-color:#f4f5f6; cursor:pointer;}
.dellemuse a.btn-link:hover 		{text-decoration: underline; background-color:#f4f5f6;}
.dellemuse a.btn-link  				{font-size:1em;} 

.dellemuse .btn-lg, 
.dellemuse .btn-group-lg > .btn {font-size: 0.88rem; padding-left: 3em; padding-right: 3em;	border-radius:8px;}

.dellemuse .btn-md {font-size: 0.88rem;}

.dellemuse .menu-item .title 		{font-weight:bold; text-transform:uppercase; font-size: 0.9em;}
.dellemuse .itemMenu 				{float:right; }
.dellemuse .itemMenu .dropdown i 	{color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));  font-size:1.15em;}
.dellemuse .itemMenu .dropdown-toggle::after {display:none;}

.static-text {min-height: calc( 1em + 1.5rem ); font-style: italic;}

.pill-selected {border:none;}
.pill {border-radius: 6px; }

.pill .title {font-weight:bold; line-height: 1.5em; font-size:1.15em;}
.pill .text  {line-height: 1.5em;}

/**- ---------------------------------------------------------------------------------- - */

.turismo-top {
    display: none;
    padding: 12px 15px 12px 15px;
    background: #818286;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
}
 


.dellemuse h1, 
.dellemuse .h1 {font-size: calc(1.45rem + 0.3vw);}

.dellemuse h2, 
.dellemuse .h2 {font-size: calc(1.3rem + 0.2vw);}
 

.dellemuse h3, 
.dellemuse .h3 {font-size: calc(1.2rem + 0.2vw);}
 .dellemuse .alert-inside-container {margin:0;}



.dellemuse .help h3 { font-size: calc(1.05rem + 0.2vw);}
.dellemuse .help .text {line-height:1.6em;}
.dellemuse .help h5 { font-size:0.9em; font-weight:bold; text-transform: uppercase;}
.dellemuse .help h6 { font-size:1em; font-weight: bold;  }


.dellemuse .help .list-group {background: transparent;}
.dellemuse .help .list-group-item {background: transparent; padding-left:0; padding-right:0;}
.dellemuse .help .alert-primary {max-height: 75vh; overflow:auto;}
 
 
 
 
.dellemuse h4, 
.dellemuse .h4 {font-size: calc(1.0rem + 0.2vw)}





  
/**- ---------------------------------------------------------------------------------- - */
@media (max-width: 768px) {
	.dellemuse .thumbnail 				{max-height: 30em;width: auto; padding: 0px;}
	.dellemuse .branded .thumbnail 		{max-height: 19em;width: auto; padding: 0px;}

}
  
 
 