
body.dellemuse {margin:0; padding:0; color:#131414; font-family: Montserrat, Arial, sans serif; font-size:15px; }



.main {min-height: calc(100vh - 117px);}

.dellemuse .thumbnail {max-width: 100%; max-height: 100%; width: 100%; padding: 2px; border: 1px solid #eeeeef;}


<!--   -->

.mode-title {padding:0;}

.dellemuse .list-group-item a.title-link   {text-decoration: none; color: inherit; font-size: 1.3em; font-weight: bold; padding: 0 0 0 0;}
.dellemuse .list-group-item .subtitle 		{color: inherit; font-size: 1em; font-weight: normal; padding: 0; margin-top: 0.2em;}

.dellemuse .mode-title .list-group-item a.title-link  	{text-decoration: none; color: inherit; font-size: 1em; font-weight: normal; padding: 0;}
.dellemuse .mode-title .list-group-item .subtitle 		{color: inherit; font-size: 1em; font-weight: normal; padding: 0; margin-top: 0.2em;}
.dellemuse .dropdown-menu {min-width: 20rem;}
.dellemuse .dropdown-menu .dropdown-item {float:left; width:100%; font-size: 0.9em;}
 
.dellemuse .form-control {font-size:15px;}
.dellemuse .form-control:disabled {background-color: transparent;}


  .alert-info .iconClose {color:blue; font-size:14px; padding: 0 10px;}
  .alert-danger .iconClose {color:#d01a1f; font-size:14px; padding: 0 10px;}


<!--   -->


.banner {background:#cccccc; color:white; height:200px;}

.border {border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); border-radius: var(--bs-border-radius);}
.separator {border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;}
.dropdown-item a {color: var(--bs-navbar-active-color); text-decoration:none;}
.global-footer .menu-item a {padding:15px 30px; color: var(--bs-navbar-active-color); text-decoration:none;}

.dellemuse-color {color:#dd4508;}

.icon-expander {width:2em; float:left;}
.icon-collapsed {width:1em; float:left;}
.icon-expanded {width:1em; float:left;}

.breadcrumb-item.active a,
a.listItemLink {text-decoration: none; color: inherit;}

.dellemuse h1, 
.dellemuse .h1 {font-size: 1.95em;font-weight: bold;}

 
.dellemuse h2, 
.dellemuse .h2 {font-size: 1.7em;font-weight: bold;}
 
.dellemuse h3, 
.dellemuse .h3 {font-size: 1.55em;font-weight: bold;}
 

.dellemuse h4, 
.dellemuse .h4 {font-size: 1.25em;font-weight: bold;}

.dellemuse .text p:last-child { margin-bottom:0;}
 
.dellemuse .text-to-read {line-height: 1.7em; font-size:1.1em;}
 
.dellemuse .list-group-item p {margin:0em;}

 
 .dellemuse .breadcrumb .dropdown-menu.show {
  	width: 100%;
    text-align: center;
    font-size: 1em;
	}
 
 .dellemuse .breadcrumb  .dropdown-item { text-wrap: auto; }
 
 
 
.dellemuse .btn-lg, 
.dellemuse .btn-group-lg > .btn {
	font-size: 0.88rem;
	padding-left: 3em;
	padding-right: 3em;
	border-radius:8px;
}

 

	
    
    


  
 
 