

[data-bs-theme="dark"]   .list-group-item .subtitle  {color: var(--bs-body-color);}
[data-bs-theme="dark"]  .thumbnail 		{max-height: 80em;width: auto; padding: 0px;}

[data-bs-theme="dark"] .audio-fixed-bottom {position: fixed;    bottom: 0;    left: 0;    width: 100%;    z-index: 1030;  
box-shadow: 0 -3px 10px rgba(82, 112, 140, 0.85); margin: 0; padding: 0; border-radius: 0;}

[data-bs-theme="dark"] .alert-info .wktui-progress  {background-color: #005a6f;}
[data-bs-theme="dark"] .alert-info .wktui-progress-bar {background: #6cb8c8;}
[data-bs-theme="dark"] {--bs-secondary-color: color: #ababab !important;}
[data-bs-theme="dark"]   .text-secondary { color:#ababab !important;}
[data-bs-theme="dark"] .list-group-item p {color: #ababab;}
 
 
 	[data-bs-theme="dark"] .alert-info button {color:var(--bs-alert-color);}
 	
  
/**- ---------------------------------------------------------------------------------- - */
@media (max-width: 768px) {
	
	[data-bs-theme="dark"]  .thumbnail 		{max-height: auto; width: 100%; max-width:396px; height:auto; padding: 0px;}
	[data-bs-theme="dark"] .list-group-item .subtitle     {font-size: 0.88em; margin:0;}
	
 	[data-bs-theme="dark"]   .mode-title-image .list-group-item a.title-link,
	[data-bs-theme="dark"]   h1, 
	[data-bs-theme="dark"]   h2,
	[data-bs-theme="dark"]   h3 {color:#eeeeee;}
  	[data-bs-theme="dark"]   h2 {font-size: 0.9em; text-transform:uppercase;}
	[data-bs-theme="dark"]   h3  { font-size: 0.9em;   text-transform: uppercase;	margin-bottom: 0.2em;}
}
  
 
 